.blogTitle
{
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
	font-size: 42px;
	background: #009999;
	color:blue;
	width:100%;
	text-decoration:none;
	padding:0px
	margin:20;
}

#warning
{
	color:#ff0000;
	
}

h2
{
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

#backgrnd
{
	background-color:yellow;
	color:teal;
}
html
{
	background-color:yellow;
	color:teal;
}

.comment
{
	background-color:white;
	padding:20px;
}

#wrapper
{
    width:420px;
    border:solid;
    padding:5px;
}
#leftcol
{
    width:200px;
    position:absolute;
    border:dotted;
}

#rightcol
{
    width:200px;
    position:relative;
    left: 215px;
    border:dotted;
}
table.poem_holder
{
    width:300px;
    padding:5px;
    border:solid;
}

td.poem
{
    text-align:center;
    font:"Rockwell Bold";
}

div.upload
{
    position: absolute;
    right: 100px;
    top:200px;
}

div.enter
{
    width:40%;
    margin-left:30%;
    margin-right:30%;
    border:dashed;
}

.submit
{
    margin:0 auto;
    width:50%;
}

.submit_button
{
    margin:0 auto;

}


